{% include "base.html" %}
{% block content %}

<div class="container">
    <div class="header_1">Расчет доверительного интервала</div>
    <form action="#" method="post">
        Уровень доверия, %:
<!--        <br>-->
        <input type="text" value="95" name="conf_level">
<!--        <br>-->
        Мощность, %:
<!--        <br>-->
        <input type="text" value="80" name="power">
<!--        <br>-->
        Текущая конверсия, %:
<!--        <br>-->
        <input type="text" value="10" name="old_cr">
<!--        <br>-->
        Желаемая конверсия, %:
<!--        <br>-->
        <input type="text" value="12, 13.5, 15" name="new_cr">
        <br>
        <input type="submit" value="Рассчитать" name="b_1">
    </form>
</div>
{% endblock %}